
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FB ORS | Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../AdminLTE/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="../AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../AdminLTE/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="../AdminLTE/index2.html"><b>FB Hotel </b>ORS</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Online Hotel Reservation System</p>

      <form id="login" >
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="user" id="user" required placeholder="Username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="pass" id=pass required placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="col-12 mt-3">
            <div class="g-recaptcha" data-sitekey="6Lftcn0gAAAAAOIXGkFFBuO_Xz9cZUSyS37JNKI1"></div>
          </div>
        </div>
        <div class="row d-flex justify-content-end ">
 
          <!-- /.col -->
          <div class="col-4 ">
            <button type="submit" id="login" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="../AdminLTE/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../AdminLTE/dist/js/adminlte.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  $("#login").submit(function (e) { 
    e.preventDefault();
    //let form = $(this);
    const data = Object.fromEntries(new FormData(e.target).entries());
    console.log(data)
    
   // console.log(data.g-recaptcha-response)
    // return
      // fetch('/admin/auth', {
      //     method: 'POST',
      //     headers: {
      //       'Accept': 'application/json, text/plain, */*',
      //       'Content-Type': 'application/json'
      //     },
      //     body: JSON.stringify(data)
      //   }).then(res => {
      //     // console.log(res);
      //     // console.log(res.json());
      //     // return  
      //     res.json();
      //     // if (res.response) {
      //  res.response
      //     // }else{
      //     //   alert("Account Does not exist !!")
      //     // }
      //   }).then(data => console.log(data.response));

        $.ajax({
          type: "POST",
          url: "/admin/auth",
          data: data,
          dataType: "json",
          success: function (res) {
            console.log(res);
            console.log(res.response);
             
            if (res.response == true) {
              alert("Successfully Login");
              window.location.href = "/admin/dashboard";
       
            } else {
              alert("Something went wrong try refresh this page or check your username and password");
            }
          }
        });

    // if ($("#user").val() == "admin" && $("#pass").val() == "admin") {
      
    //   fetch('/auth', {
    //       method: 'POST',
    //       headers: {
    //         'Accept': 'application/json, text/plain, */*',
    //         'Content-Type': 'application/json'
    //       },
    //       body: JSON.stringify({user: 7,  pass: 'Some string: &=&'})
    //     }).then(res => res.json())
    //       .then(res => console.log(res));

    //    alert("Successfully Login");
       
    //    window.location.href = "/admin/dashboard";
    //  }else{
    //    alert("Account Does not exist !!")
    //  }
  });
</script>
</body>
</html>
