<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from preview.colorlib.com/theme/sona/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 29 Apr 2021 08:36:05 GMT -->
<head>
<meta charset="UTF-8">
<meta name="description" content="Sona Template">
<meta name="keywords" content="Sona, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>FB Hotel</title>

<link href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&amp;display=swap" rel="stylesheet">

<link rel="stylesheet" href="../sona/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="../sona/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="../sona/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="../sona/css/flaticon.css" type="text/css">
<link rel="stylesheet" href="../sona/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="../sona/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="../sona/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="../sona/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="../sona/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="../sona/css/style.css" type="text/css">
 
</head>

<body>

<div id="preloder">
<div class="loader"></div>
</div>

<div class="offcanvas-menu-overlay"></div>
<div class="canvas-open">
<i class="icon_menu"></i>
</div>
<div class="offcanvas-menu-wrapper">
<div class="canvas-close">
<i class="icon_close"></i>
</div>
<div class="search-icon  search-switch">
<i class="icon_search"></i>
</div>
<div class="header-configure-area">
<div class="language-option">
<img src="../sona/img/flag.jpg" alt="">
<span>EN <i class="fa fa-angle-down"></i></span>
<div class="flag-dropdown">
<ul>
<li><a href="#">Zi</a></li>
<li><a href="#">Fr</a></li>
</ul>
</div>
</div>
<a href="#" class="bk-btn">Booking Now</a>
</div>
<nav class="mainmenu mobile-menu">
<ul>
<li class="active"><a href="index.html">Home</a></li>
<li><a href="rooms.html">Rooms</a></li>
<li><a href="about-us.html">About Us</a></li>
<li><a href="pages.html">Pages</a> 
<ul class="dropdown">
<li><a href="room-details.html">Room Details</a></li>
<li><a href="#">Deluxe Room</a></li>
<li><a href="#">Family Room</a></li>
<li><a href="#">Premium Room</a></li>
</ul>
</li>
<li><a href="blog.html">News</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</nav>
<div id="mobile-menu-wrap"></div>
<div class="top-social">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-tripadvisor"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
</div>
<ul class="top-widget">
<li><i class="fa fa-phone"></i> (12) 345 67890</li>
<li><i class="fa fa-envelope"></i> <a href="https://preview.colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="11787f777e3f727e7d7e637d787351767c70787d3f727e7c">[email&#160;protected]</a></li>
</ul>
</div>


<header class="header-section">

<div class="menu-item">
<div class="container">
<div class="row">
<div class="col-lg-2">
<div class="logo">
<a href="/">
<img src="../sona/ors-img/logo.png" width="100" height="90" alt="">
</a>
</div>
</div>
<div class="col-lg-10">
<div class="nav-menu">
<nav class="mainmenu">
<ul>
<li class=""><a href="/">Home</a></li>
<li class=""><a href="/rooms">Rooms</a></li>
<li class=""><a href="/status">Customer Reservation Status</a></li>
<!-- <li><a href="/login" class="">Login</a></li> -->

</ul>
</nav>

</div>
</div>
</div>
</div>
</div>
</header>
